---
# tasks file for ansible-role-nextcloud-docker

- name: Abort if using insecure values.
  assert:
    that: >
      (nd_postgres_password != 'insecure'
      and nd_redis_host_password != 'insecure'
      and nd_nextcloud_admin_password != 'insecure')
      or nd_allow_insecure_defaults
    fail_msg: "Please change insecure default vars or set 'nd_allow_insecure_defaults: true'"
  when: "nd_domain_name != 'example.local'"

- name: Prepare docker-compose files, and use them to build the app.
  include_tasks:
    file: "nd-docker-compose.yml"
    apply:
      tags:
        - docker
        - docker-compose
        - volumes
  tags:
    - always

- name: Install Nextcloud application.
  include_tasks:
    file: "nd-install-nextcloud.yml"
    apply:
      tags:
        - install-nextcloud
        - nextcloud
  tags:
    - always

- name: Configure Nextcloud application before first run.
  include_tasks:
    file: "nd-configure-nextcloud.yml"
    apply:
      tags:
        - configure-nextcloud
        - nextcloud
  tags:
    - always

- name: Pause, then run further commands.
  block:
    - name: Run post-install custom configuration commands.
      include_tasks:
        file: "{{ nd_configure_nextcloud_custom_file }}"
        apply:
          tags:
            - configure-nextcloud
            - custom-tasks
            - nextcloud
